<% if @tweet.errors.any? %>
<div class="alert alert-danger tweetsForm__error">
  <p><%= @tweet.errors.messages[:base].count %>件のエラーがあります。</p>
  <ul>
    <% @tweet.errors.messages[:base].each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>